<!-- <div class="content">
    <ol>
        <li *ngFor="let _data of data">
            {{_data}}
        </li>
    </ol>
</div> -->

<div class="techno w-100 h-100">
    <div class="row w-100 h-100 p-0 m-0">
        <aside class="col-xl-2 col-lg-2 col-md-2 col-sm-12 bg-success h-100 p-0 m-0">
            <ul class="w-100 h-100 p-0 m-0 d-flex flex-column align-items-center">
                <li routerLinkActive="active"><a routerLink="html">HTML</a></li>
                <li routerLinkActive="active"><a routerLink="cssPage">Css</a></li>
                <li routerLinkActive="active"><a routerLink="javascriptPage">Javascript</a></li>
            </ul>

        </aside>

        <section class="col-xl-10 col-lg-10 col-md-10 col-sm-12 h-100 bg-warning">
            <router-outlet></router-outlet>
        </section>
    </div>
</div>